{% extends "base.html" %}
{% block content %}
    <div class="container">
    <pre>
    --- words on page ---
    {% for translation in page.translations.all %}
    page: {{ translation.page }}
    {% for words in translation.body %}
    structure: {{ words.value }}
    {% endfor %}
    {% endfor %}
    </pre>

      <div class="ml-2">
        <h2>Current app language is: <p id="appLanguage"></p>
        </h2>
        <select id="appSelect"></select>
      </div>
      </div>
{% endblock %}

{% block extra_js %}
<script>
  {% if page.translations.all %}
      window.localizations = {
    {% for translation in page.translations.all %}
      '{{ translation.page }}': {
        {% for words in translation.body %}
        '{{ words.value.word }}': { en: '{{ words.value.en }}', sp: '{{ words.value.sp }}', fr: '{{ words.value.fr }}' },
        {% endfor %}
        {% endfor %}
      }
    };
{% endif %}

$(document).ready(() => {
  const $language = $('#appLanguage');
  $language.html(localizations.vocab.language.en);
  let options = ``;
  const languages = localizations.vocab.language;
  for(let key in languages) {
    options += `<option value="${key}">${languages[key]}</option>`;
  }
  const $select = $('#appSelect');
  $select.html(options);
  $select.on('change', (e) => {
    $language.html(languages[e.target.value]);
  });

  $('#appSelect')
})
</script>
{% endblock %}